
body {
    background-image: url("../images/board.png");
    background-repeat: no-repeat;
    background-position:absolute;
    background-position-x: 50%;
    color: #fff;
    background-color: white;
}

.starter-text {
    margin-top:200px;
    margin-left: 380px;
    font-family: 'Courier New', Courier, monospace;
    color: #020005;
    padding: 6px 35px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 5;
}

.mario-lost {
    margin-top:170px;
    margin-left: 570px;
    font-family: 'Courier New', Courier, monospace;
    color: #020005;
    padding: 6px 35px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 5;
}

.toad-lost {
    margin-top:170px;
    margin-left: 600px;
    font-family: 'Courier New', Courier, monospace;
    color: #020005;
    padding: 6px 35px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 5;
}

#canvas {
    position: absolute;
	margin-left: 395px; /* This is half the width */
    margin-top: 150px; /* This is half the height */
}



/*.start-btn {
    color: white;
    font-family: 'Gill Sans MT Pro UltraBold Cond';
    font-size: 30px;
    width: 200px;
    height: 45px;
    line-height: 55px;
    margin: auto;
    margin-top: 55px;
    background-color: #E74148;
    border: none;
    position: center;
}
*/
  